.header{
    background-color: #020617;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.521);
}

.titulo-principal{
    color: white;
    font-size: 30px;
}

.logo{
    margin-left: 20px;
    width: 70px;
}

.login{
    color: white;
    margin-right: 15px;
    background-color: #0063f8;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #0044aa;
    transition: 0.2s;
}

.login:hover{
    background-color: #60a0ff;
    border: 1px solid #277dff;
}

.login:active{
    transform: translateY(3px);
}