.navbar{
    background-color: #020617;
    border-top: 1px solid #e5e7eb3a;
    border-bottom: 1px solid #e5e7eb3a;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link{
    color: white;
    background-color: #0063f8;
    border: 1px solid #0044aa;
    padding: 5px 20px;
    border-radius: 10px;
    transition: 0.2s;
}

.link:hover{
    background-color: #60a0ff;
    border: 1px solid #277dff;
}

.link:active{
    transform: translateY(5px);
}